---
import {
  getTranslation,
  languageMetadata,
  languages,
} from "@/i18n/translations";
import Icon from "@/components/Icon.astro";
import { mdiTranslate } from "@mdi/js";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
const t = getTranslation(lang);

const navItems = [
  { href: `/${lang}/`, label: t.home },
  { href: `/${lang}/publications`, label: t.publications },
  { href: `/${lang}/about`, label: t.about },
  { href: `/${lang}/contact`, label: t.contact },
  { href: `/${lang}/participate`, label: t.participate, secondary: true },
];
---

<nav class="sticky top-0 z-50 w-full bg-base-200">
  <div class="flex flex-wrap items-center gap-1 max-w-4xl w-full mx-auto">
    {
      navItems.map((item) => {
        const colorClass = item.secondary ? "btn-secondary" : "";
        return (
          <a href={item.href} class={`btn btn-ghost ${colorClass}`}>
            {item.label}
          </a>
        );
      })
    }
    <div class="dropdown dropdown-end flex-1 flex justify-end">
      <label tabindex="0" class="btn btn-ghost">
        <Icon path={mdiTranslate} size={16} />
      </label>
      <ul
        tabindex="0"
        class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
      >
        {
          languages.map((langCode) => {
            const metadata =
              languageMetadata[langCode as keyof typeof languageMetadata];
            return (
              <li>
                <a href={metadata.url}>{metadata.name}</a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</nav>
