---
import {
  getTranslation,
  languageMetadata,
  languages,
} from "@/i18n/translations";
import Icon from "@/components/Icon.astro";
import { mdiTranslate } from "@mdi/js";

interface Props {
  lang: string;
  currentPath?: string;
}

const { lang } = Astro.props;
const t = getTranslation(lang);
---

<nav class="flex justify-between items-center mb-4">
  <a href={`/${lang}/`} class="hover:opacity-70 text-xl font-serif">
    {t.home}
  </a>
  <div class="flex items-center gap-2">
    <div class="flex gap-1">
      <a href={`/${lang}/publications`} class="btn btn-sm btn-primary"
        >{t.publications}</a
      >
      <a href={`/${lang}/about`} class="btn btn-sm btn-ghost">{t.about}</a>
      <a href={`/${lang}/contact`} class="btn btn-sm btn-ghost">{t.contact}</a>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-xs btn-circle btn-ghost">
        <Icon path={mdiTranslate} size={16} />
      </label>
      <ul
        tabindex="0"
        class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
      >
        {
          languages.map((langCode) => {
            const metadata =
              languageMetadata[langCode as keyof typeof languageMetadata];
            return (
              <li>
                <a href={metadata.url}>{metadata.name}</a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</nav>
