---
import Layout from "@/layouts/Layout.astro";
import ContentBanner from "@/components/ContentBanner.astro";
import { getTranslation, languages } from "@/i18n/translations";
import EnResume from "@/content/resume/en.md";
import FrResume from "@/content/resume/fr.md";
import { Image } from "astro:assets";
import cvBanner from "@/assets/layout/vertical_cv_banner.png";

export function getStaticPaths() {
  return languages.map((lang) => ({
    params: { lang },
    props: { lang },
  }));
}

const { lang } = Astro.props;
const t = getTranslation(lang);

const resumeMap = {
  en: EnResume,
  fr: FrResume,
};

const Resume = resumeMap[lang as keyof typeof resumeMap];
---

<Layout title={t.about} lang={lang} description={t.aboutDescription}>
  <ContentBanner title={t.about}>
    <div class="prose max-w-none">
      <Image
        src={cvBanner}
        alt=""
        class="block mx-auto mb-4 md:float-right md:ml-6 md:mx-0 rounded-lg w-72 h-auto"
      />
      <Resume />
    </div>
  </ContentBanner>
</Layout>
