---
import Layout from "@/layouts/Layout.astro";
import ContentBanner from "@/components/ContentBanner.astro";
import { getTranslation, languages } from "@/i18n/translations";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const allSurveys = await getCollection("participate");

  return languages.map((lang) => {
    const surveys = allSurveys.filter((survey) =>
      survey.id.startsWith(`${lang}/`),
    );

    return {
      params: { lang },
      props: { surveys, lang },
    };
  });
}

const { surveys, lang } = Astro.props;
const t = getTranslation(lang);
---

<Layout title={t.participate} lang={lang} description={t.participateDescription}>
  <ContentBanner title={t.participate}>
    <div class="flex flex-col gap-6">
      {
        surveys.map((survey) => (
          <div class="bg-neutral shadow-lg p-3 rounded-2xl">
            <div class="flex flex-wrap gap-4">
              <div class="flex-shrink-0 w-32 aspect-square">
                <Image
                  src={survey.data.coverImage}
                  alt=""
                  width={256}
                  height={256}
                  class="w-full h-full rounded-2xl object-cover"
                />
              </div>
              <div class="flex-1 min-w-48">
                <div class="text-xl font-serif mb-2">{survey.data.title}</div>
                <p class="mb-4">{survey.data.description}</p>
                <div class="flex flex-wrap gap-2">
                  {survey.data.buttons.map((button) => (
                    <a
                      href={button.url}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="btn btn-primary"
                    >
                      {button.text}
                    </a>
                  ))}
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </ContentBanner>
</Layout>
